@using HotBooking
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

<form asp-controller="Search" asp-action="Search" class="poster__form aside__form">
    <div class="form__row">
        <div class="form__item-column">
            <label for="hotels_name">@SharedLocalizer["Input hotels name or city"]</label>
            <input type="text" id="hotels_name" placeholder="@SharedLocalizer["Hotels name or city"]">
        </div>

        <div class="form__item-column">
            <label for="arrival_date_london">@SharedLocalizer["Arrival date"]</label>
            <input type="date" id="arrival_date_london">
        </div>

        <div class="form__item-column">
            <label for="departure_date_paris">@SharedLocalizer["Date of departure"]</label>
            <input type="date" id="departure_date_paris">
        </div>

        <div class="form__item-column">
            <label for="number_of_adults_paris">@SharedLocalizer["Adults"]</label>
            <input type="number" id="number_of_adults_paris" class="number" value="1" min="1" max="9">
        </div>

        <div class="row">
            <div class="form__item-column">
                <label for="number_of_children_paris">@SharedLocalizer["Children"]</label>
                <input type="number" id="number_of_children_paris" class="number" min="0" max="6">
            </div>

            <div class="form__item-column">
                <label for="number_of_rooms_paris">@SharedLocalizer["Rooms"]</label>
                <input type="number" id="number_of_rooms_paris" class="number" value="1" min="1" max="9">
            </div>
        </div>

        <button type="submit" class="submit">@SharedLocalizer["Check prices"]</button>
    </div>
</form>
