@using HotBooking
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

<footer class="footer">
    <div class="container">
        <div class="footer__column">
            <div class="footer__menu menu">
                <div class="menu__row">
                    <div class="menu__about">
                        <div class="menu__column">
                            <p class="title_2">@SharedLocalizer["About"]</p>
                            <a href="">@SharedLocalizer["About HotBooking.com"]</a>
                            <a href="">@SharedLocalizer["Service guarantee"]</a>
                            <a href="">@SharedLocalizer["News"]</a>
                            <a href="">@SharedLocalizer["Careers"]</a>
                            <a href="">@SharedLocalizer["Terms & conditions"]</a>
                            <a href="">@SharedLocalizer["Privacy statement"]</a>
                            <a href="">@SharedLocalizer["Do not sell my personal information"]</a>
                        </div>
                    </div>
                    <div class="menu__your-opinion">
                        <div class="menu__column">
                            <p class="title_2">@SharedLocalizer["Your opinion"]</p>
                            <a href="">@SharedLocalizer["Hotel reviews"]</a>
                            <a href="">@SharedLocalizer["Send review about HotBooking.com"]</a>
                            <a href="">@SharedLocalizer["What people are saying"]</a>
                        </div>
                    </div>
                    <div class="menu__contact-us">
                        <div class="menu__column">
                            <p class="title_2">@SharedLocalizer["Contact us"]</p>
                            <a asp-controller="Home" asp-action="ContactUs" target="_blank">@SharedLocalizer["Website feedback"]</a>
                            <a href="">@SharedLocalizer["Customer support"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__sub-footer sub-footer">
                <div class="sub-footer__soc-networks">
                    <div class="sub-footer__icon">
                        <a href=""><img src="~/images/icons/facebook.png" alt=""></a>
                    </div>
                    <div class="sub-footer__icon">
                        <a href=""><img src="~/images/icons/instagram.png" alt=""></a>
                    </div>
                    <div class="sub-footer__icon">
                        <a href=""><img src="~/images/icons/twitter.png" alt=""></a>
                    </div>
                    <div class="sub-footer__icon">
                        <a href=""><img src="~/images/icons/whatsapp.png" alt=""></a>
                    </div>
                    <div class="sub-footer__icon">
                        <a href=""><img src="~/images/icons/google-plus.png" alt=""></a>
                    </div>
                </div>
                <div class="sub-footer__copyright">
                    <p>@SharedLocalizer["Copyright 2020 HotBooking.com All rights reserved."]</p>
                 </div>
            </div>
        </div>
    </div>
</footer>