@using HotBooking
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo__link">HotBooking</a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="" class="header__link">@SharedLocalizer["Currency"]</a>
                    </li>
                    <li>
                        <a href="" class="header__link">@SharedLocalizer["Language"]</a>
                    </li>
                    <li>
                        <a href="" class="header__link">@SharedLocalizer["Register object"]</a>
                    </li>
                    <li>
                        <a href="" class="header__link">@SharedLocalizer["Register"]</a>
                    </li>
                    <li>
                        <a href="" class="header__link">@SharedLocalizer["Login"]</a>
                    </li>
                </ul>
            </nav>
            <nav class="nav">
                <div class="nav__row">
                    <div class="nav__item nav__currency">
                        <a href="" class="nav__link nav__link_white">AMD</a>
                    </div>
                    <div class="nav__item nav__language">
                        <a href="" class="nav__link">
                            <img class="" src="~/images/icons/usaIcon.png" alt="">
                        </a>
                    </div>
                    <div class="nav__item nav__register-object">
                        <a href="" class="nav__link nav__link_white">@SharedLocalizer["Register object"]</a>
                    </div>
                    <div class="nav__item nav__register nav__link_teal">
                        <a asp-controller="Account" asp-action="Register" class="nav__link nav__link_teal">@SharedLocalizer["Register"]</a>
                    </div>
                    <div class="nav__item nav__login nav__link_teal">
                        <a asp-controller="Account" asp-action="Login" class="nav__link nav__link_teal">@SharedLocalizer["Login"]</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>