@using HotBooking
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@using HotBooking.Domain.Entities
@model Country
@{
    Layout = "_LayoutCountry";
}

<body>
    <div class="wrapper">
        <div class="content">
            <div class="container">
                <div class="content__column">
                    <article class="article">
                        <div class="article__title title">
                            <h4>@Localizer["Top destinations for"] @Model.Title @Localizer["city trips"]</h4>
                        </div>
                        <div id="js-carousel-city-4" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                <form asp-controller="Search" asp-action="Search" method="post" class="city__form">
                                    <input type="text" name="destination" value="@city.Title" hidden />
                                    <button>
                                        <div class="article__gradient gradient">
                                            <img src="~/@city.TitleImagePath" alt="">
                                            <span class="overlayed"></span>
                                            <div class="gradient__info">
                                                <p class="gradient__name">@city.Title</p>
                                                <p class="gradient__count">@city.Hotels.Count @Localizer["hotels"]</p>
  </div>
                                        </div>
                                    </button>
                                </form>
                            }
                        </div>
                        <div id="js-carousel-city-3" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                <form asp-controller="Search" asp-action="Search" method="post" class="city__form">
                                    <input type="text" name="destination" value="@city.Title" hidden />
                                    <button>
                                        <div class="article__gradient gradient">
                                            <img src="~/@city.TitleImagePath" alt="">
                                            <span class="overlayed"></span>
                                            <div class="gradient__info">
                                                <p class="gradient__name">@city.Title</p>
                                                <p class="gradient__count">@city.Hotels.Count @Localizer["hotels"]</p>
  </div>
                                        </div>
                                    </button>
                                </form>
                            }
                        </div>
                        <div id="js-carousel-city-2" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                <form asp-controller="Search" asp-action="Search" method="post" class="city__form">
                                    <input type="text" name="destination" value="@city.Title" hidden />
                                    <button>
                                        <div class="article__gradient gradient">
                                            <img src="~/@city.TitleImagePath" alt="">
                                            <span class="overlayed"></span>
                                            <div class="gradient__info">
                                                <p class="gradient__name">@city.Title</p>
                                                <p class="gradient__count">@city.Hotels.Count @Localizer["hotels"]</p>
  </div>
                                        </div>
                                    </button>
                                </form>
                            }
                        </div>
                        <div id="js-carousel-city-1" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                <form asp-controller="Search" asp-action="Search" method="post" class="city__form">
                                    <input type="text" name="destination" value="@city.Title" hidden />
                                    <button>
                                        <div class="article__gradient gradient">
                                            <img src="~/@city.TitleImagePath" alt="">
                                            <span class="overlayed"></span>
                                            <div class="gradient__info">
                                                <p class="gradient__name">@city.Title</p>
                                                <p class="gradient__count">@city.Hotels.Count @Localizer["hotels"]</p>
  </div>
                                        </div>
                                    </button>
                                </form>
                            }
                        </div>
                    </article>
                    <article class="article">
                        <div class="simple-info">
                            <div class="simple-info__title">
                                @Localizer["Explore and find Hotels in"] @Model.Title
                            </div>
                            <div class="simple-info__desc">
                                @Model.Text
                            </div>
                        </div>
                    </article>
                    <article class="article">
                        <div class="article__title title">
                            <h4>@Localizer["Top hotels in"] @Model.Title</h4>
                        </div>
                        <div id="js-carousel-hotel-3" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                var count = 0;
                                foreach (var hotel in city.Hotels)
                                {
                                    <div class="hotel-card">
                                        <div class="hotel-card__head>">
                                            <img src="~/@hotel.TitleImagePath" alt="">
                                            <div class="hotel-card__title">
                                                @hotel.Title @Localizer["hotel"]
                                            </div>
                                            <div class="hotel-card__subtitle">
                                                Hotel in @hotel.City.Title
                                            </div>
                                            <div class="hotel-card__review-block">
                                                <div class="hotel-card__rating">
                                                    @Math.Round(hotel.ReviewRating, 1)
                                                </div>
                                                <div class="hotel-card__status">
                                                    @{
                                                        string str;
                                                        if (@hotel.ReviewRating >= 9)
                                                        {
                                                            str = @Localizer["Superb"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 8)
                                                        {
                                                            str = @Localizer["Very Good"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 7)
                                                        {
                                                            str = @Localizer["Good"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 6)
                                                        {
                                                            str = @Localizer["Pleasant"].Value;
                                                        }
                                                        else
                                                        {
                                                            str = @Localizer["Bad"].Value;
                                                        }
                                                    }
                                                    @str
                                                </div>
                                                <div class="hotel-card__reviews">
                                                    @hotel.Reviews.Count @Localizer["reviews"]
                                                </div>
                                            </div>
                                            <div class="hotel-card__info">
                                                @hotel.Subtitle
                                            </div>
                                        </div>

                                        <form asp-controller="Hotel" asp-action="Hotel" method="post">
                                            <input type="text" name="hotelId" value="@hotel.Id" hidden />
                                            <button>@Localizer["Reserve"]</button>
                                    </form>
                                    </div>
                                    if (count == 20)
                                    {
                                        break;
                                    }
                                }
                            }

                        </div>
                        <div id="js-carousel-hotel-2" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                var count = 0;
                                foreach (var hotel in city.Hotels)
                                {
                                    <div class="hotel-card">
                                        <div class="hotel-card__head>">
                                            <img src="~/@hotel.TitleImagePath" alt="">
                                            <div class="hotel-card__title">
                                                @hotel.Title @Localizer["hotel"]
                                            </div>
                                            <div class="hotel-card__subtitle">
                                                @Localizer["Hotel in"] @hotel.City.Title
                                            </div>
                                            <div class="hotel-card__review-block">
                                                <div class="hotel-card__rating">
                                                    @Math.Round(hotel.ReviewRating, 1)
                                                </div>
                                                <div class="hotel-card__status">
                                                    @{
                                                        string str;
                                                        if (@hotel.ReviewRating >= 9)
                                                        {
                                                            str = @Localizer["Superb"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 8)
                                                        {
                                                            str = @Localizer["Very Good"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 7)
                                                        {
                                                            str = @Localizer["Good"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 6)
                                                        {
                                                            str = @Localizer["Pleasant"].Value;
                                                        }
                                                        else
                                                        {
                                                            str = @Localizer["Bad"].Value;
                                                        }
                                                    }
                                                    @str
                                                </div>
                                                <div class="hotel-card__reviews">
                                                    @hotel.Reviews.Count @Localizer["reviews"]
                                                </div>
                                            </div>
                                            <div class="hotel-card__info">
                                                @hotel.Subtitle
                                            </div>
                                        </div>

                                        <form asp-controller="Hotel" asp-action="Hotel" method="post">
                                            <input type="text" name="hotelId" value="@hotel.Id" hidden />
                                            <button>@Localizer["Reserve"]</button>
                                    </form>
                                    </div>
                                    if (count == 20)
                                    {
                                        break;
                                    }
                                }
                            }
                        </div>
                        <div id="js-carousel-hotel-1" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                var count = 0;
                                foreach (var hotel in city.Hotels)
                                {
                                    <div class="hotel-card">
                                        <div class="hotel-card__head>">
                                            <img src="~/@hotel.TitleImagePath" alt="">
                                            <div class="hotel-card__title">
                                                @hotel.Title @Localizer["hotel"]
                                            </div>
                                            <div class="hotel-card__subtitle">
                                                Hotel in @hotel.City.Title
                                            </div>
                                            <div class="hotel-card__review-block">
                                                <div class="hotel-card__rating">
                                                    @Math.Round(hotel.ReviewRating, 1)
                                                </div>
                                                <div class="hotel-card__status">
                                                    @{
                                                        string str;
                                                        if (@hotel.ReviewRating >= 9)
                                                        {
                                                            str = @Localizer["Superb"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 8)
                                                        {
                                                            str = @Localizer["Very Good"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 7)
                                                        {
                                                            str = @Localizer["Good"].Value;
                                                        }
                                                        else if (@hotel.ReviewRating >= 6)
                                                        {
                                                            str = @Localizer["Pleasant"].Value;
                                                        }
                                                        else
                                                        {
                                                            str = @Localizer["Bad"].Value;
                                                        }
                                                    }
                                                    @str
                                                </div>
                                                <div class="hotel-card__reviews">
                                                    @hotel.Reviews.Count @Localizer["reviews"]
                                                </div>
                                            </div>
                                            <div class="hotel-card__info">
                                                @hotel.Subtitle
                                            </div>
                                        </div>

                                        <form asp-controller="Hotel" asp-action="Hotel" method="post">
                                            <input type="text" name="hotelId" value="@hotel.Id" hidden />
                                            <button>@Localizer["Reserve"]</button>
                                        </form>
                                    </div>
                                    if (count == 20)
                                    {
                                        break;
                                    }
                                }
                            }
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
