@using HotBooking.Domain.Entities
@model Country
@{ 
    Layout = "_LayoutCountry";
}

<body>
    <div class="wrapper">
        <div class="content">
            <div class="container">
                <div class="content__column">
                    <article class="article">
                        <div class="article__title title">
                            <h4>Top destinations for @Model.Title city trips</h4>
                        </div>
                        <div id="js-carousel-3" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                <div class="article__gradient gradient">
                                    <img src="~/@city.TitleImagePath" alt="">
                                    <span class="overlayed"></span>
                                    <div class="gradient__info">
                                        <p class="gradient__name">@city.Title</p>
                                        <p class="gradient__count">@city.Hotels.Count hotels</p>
                                    </div>
                                </div>
                            }    
                        </div>
                    </article>
                    <article class="article">
                        <div class="simple-info">
                            <div class="simple-info__title">
                                Explore and find Hotels in @Model.Title
                            </div>
                            <div class="simple-info__desc">
                                @Model.Text
                            </div>
                        </div>
                    </article>
                    <article class="article">
                        <div id="js-carousel-4" class="article__row owl-carousel">
                            @foreach (var city in Model.Cities)
                            {
                                var count = 0;
                                foreach (var hotel in city.Hotels)
                                {
                                    <div class="hotel-card">
                                        <div class="hotel-card__head>">
                                            <img src="~/@hotel.TitleImagePath" alt="">
                                            <div class="hotel-card__title">
                                                @hotel.Title hotel
                                            </div>
                                            <div class="hotel-card__subtitle">
                                                Hotel in @hotel.City.Title
                                            </div>
                                            <div class="hotel-card__review-block">
                                                <div class="hotel-card__rating">
                                                    @hotel.ReviewRating
                                                </div>
                                                <div class="hotel-card__status">
                                                    @{
                                                        string str;
                                                        if (@hotel.ReviewRating >= 9)
                                                        {
                                                            str = "Superb";
                                                        }
                                                        else if (@hotel.ReviewRating >= 8)
                                                        {
                                                            str = "Very Good";
                                                        }
                                                        else if (@hotel.ReviewRating >= 7)
                                                        {
                                                            str = "VGood";
                                                        }
                                                        else if (@hotel.ReviewRating >= 6)
                                                        {
                                                            str = "Pleasant";
                                                        }
                                                        else
                                                        {
                                                            str = "Bad";
                                                        }
                                                    }
                                                    @str
                                                </div>
                                                <div class="hotel-card__reviews">
                                                    @hotel.Reviews.Count reviews
                                                </div>
                                            </div>
                                            <div class="hotel-card__info">
                                                @hotel.Subtitle
                                            </div>
                                        </div>
                                        
                                        <form asp-controller="Hotel" asp-action="Hotel"  method="post">
                                            <input type="text" name="hotelId" value="@hotel.Id" hidden />
                                            <button>Reserve</button>
                                        </form>                                        
                                    </div>
                                    if (count == 20)
                                    {
                                        break;
                                    }
                                }
                            }
                            
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#js-carousel-3').owlCarousel({
            items: 4,
        });
        $('#js-carousel-4').owlCarousel({
            items: 3,
        });
    </script>
</body>
