@using HotBooking
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@using HotBooking.Domain.Entities
@model Hotel
@{
    Layout = "_LayoutHotel";
}

<body>
    <div class="wrapper">
        <div class="content">
            <div class="container">
                <div class="content__row">
                    <aside>
                        @await Html.PartialAsync("AsideForm") 
                    </aside>
                    <main>
                        <article>
                            <div class="article__row">
                                <div class="article__left">
                                    <div class="title">
                                        @Localizer["hotel"] @Model.TitleEn @Localizer["in"] @Model.City.GetModel(ViewBag.Culture).Title@Localizer["-ում"]
                                    </div>
                                    <div class="article__info">
                                        <img src="~/images/icons/location.png" alt="">
                                        <div class="subtitle">
                                            @Model.Adress, @Model.City.GetModel(ViewBag.Culture).Title
                                        </div>
                                    </div>
                                    <div class="article__info">
                                        <img src="~/images/icons/hotelKey (2).png" alt="">
                                        <div class="subtitle">
                                            @{
                                                var count = 0;
                                                foreach (var item in Model.Rooms)
                                                {
                                                    count += item.Count;
                                                }
                                            }@count @Localizer["numbers"]
                                        </div>
                                    </div>
                                </div>
                                <form asp-controller="Review" asp-action="Index" method="get" target="_blank">
                                    <input name="currHotel" value="@Model.Id" hidden />
                                    <button class="submit-btn">@Localizer["Send Review"]</button>
                                </form>
                            </div>
                        </article>
                        <hr>
                        <article>
                            <div class="gallery">
                                <div class="gallery__big cssbox">
                                    <a id="image1" href="#image1">
                                        <img class="cssbox_tumb" src="~/@Model.TitleImagePath" alt="">
                                        <span class="cssbox_full">
                                            <img src="~/@Model.TitleImagePath">
                                        </span>
                                    </a>
                                    <a class="cssbox_close" href="#void"></a>
                                    <a class="cssbox_next" href="#image2">&gt;</a>
                                </div>
                                <div class="gallery__column">
                                    @{
                                        var rooms = Model.Rooms.ToList();
                                        bool flag = rooms.Count == 0;
                                        string path;
                                        for (int i = 1; i <= 3; i++)
                                        {
                                            if (flag || rooms[rooms.Count % i].TitleImagePath == "" || rooms[rooms.Count % i].TitleImagePath == null)
                                            {
                                                path = Model.TitleImagePath;
                                            }
                                            else
                                            {
                                                path = rooms[rooms.Count % i].TitleImagePath;
                                            }
                                            var id = $"image{i + 1}";
                                            var href = $"#image{i + 1}";
                                            var prHref = $"#image{i}";
                                            var nHref = $"#image{i + 2}";
                                            <div class="gallery__small cssbox">
                                                <a id="@id" href="@href">
                                                    <img class="cssbox_tumb" src="~/@path" alt="">
                                                    <span class="cssbox_full">
                                                        <img src="~/@path">
                                                    </span>
                                                </a>
                                                <a class="cssbox_close" href="#void"></a>
                                                <a class="cssbox_prev" href="@prHref">&lt;</a>
                                                @if (i != 3)
                                                {
                                                    <a class="cssbox_next" href="@nHref">&gt;</a>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="title">
                                @Localizer["About"] @Model.GetModel(ViewBag.Culture).Title@Localizer["-ի մասին"]
                            </div>
                            <div class="description">
                                @Model.GetModel(ViewBag.Culture).Text
                            </div>
                        </article>
                        <article>
                            <div class="title">
                                @Localizer["Most popular facilties"]
                            </div>
                            <div class="description">
                                @{
                                    foreach (var item in Model.HotelHotelFacilities)
                                    {
                                        <span>@item.HotelFacility.GetModel(ViewBag.Culture).Title, </span>
                                    }
                                }
                            </div>
                        </article>
                        <article>
                            <div class="table-wrapper">
                                <table class="fl-table">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Room type"]</th>
                                        <th>@Localizer["Sleeps"]</th>
                                        <th>@Localizer["Today's price"]</th>
                                        <th><div class="td__row"><div>@Localizer["Select Rooms"]</div> <div>@Localizer["Reserve"]</div></div></th>
</tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Rooms)
                                        {
                                            <tr>
                                                <td>@item.Key.GetModel(ViewBag.Culture).Title</td>
                                                <td></td>
                                                <td>AMD @item.Key.PricePerNight</td>
                                                <td>
                                                    <form asp-controller="Hotel" asp-action="Reserve" method="post" target="_blank">
                                                        <div class="td__row">
                                                            <select name="roomsCount" id="">
                                                                @for (int i = 1; i <= item.Value; i++)
                                                                {
                                                                    <option value="@i">@i (AMD @{var price = item.Key.PricePerNight * i;}@price)</option>
                                                                }
                                                            </select>
                                                            <input type="text" name="roomId" value="@item.Key.Id" hidden />
                                                            <input type="text" name="arrival" value="@ViewBag.Arrival" hidden />
                                                            <input type="text" name="departure" value="@ViewBag.Departure" hidden />
                                                            <input type="text" name="guests" value="@ViewBag.Guests" hidden />
                                                            <button type="submit">@Localizer["Reserve"]</button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>