@using HotBooking.Domain.Entities
@model BookedDate
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Booking Form HTML Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/reserve.css" />

</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="booking-cta">
                            <h1>Make your reservation</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam numquam at</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="booking-form">
                            <form asp-controller="Hotel" asp-action="CompleteBooking" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input asp-for="UserName" class="form-control" type="text">
                                            <span class="form-label">Name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input asp-for="Email" class="form-control" type="email">
                                            <span class="form-label">Email</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input asp-for="Phone" class="form-control" type="tel">
                                            <span class="form-label">Phone</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Rooms</span>
                                            <input name="roomsCount" class="form-control" type="number" value="@ViewBag.Count" />
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Guests</span>
                                            <input name="guests" class="form-control" type="number" value="@ViewBag.Guests" />
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @{
                                                string month;
                                                string day;
                                                if (Model.StartDate.Month > 9)
                                                {
                                                    month = Model.StartDate.Month.ToString();
                                                }
                                                else
                                                {
                                                    month = "0" + Model.StartDate.Month.ToString();
                                                }
                                                if (Model.StartDate.Day > 9)
                                                {
                                                    day = Model.StartDate.Day.ToString();
                                                }
                                                else
                                                {
                                                    day = "0" + Model.StartDate.Day.ToString();
                                                }
                                            }
                                            <input asp-for="StartDate" class="form-control" type="date" value="@Model.StartDate.Year-@month-@day" />
                                            <span class="form-label">Check In</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @{
                                                string dMonth;
                                                string dDay;
                                                if (Model.EndDate.Month > 9)
                                                {
                                                    dMonth = Model.EndDate.Month.ToString();
                                                }
                                                else
                                                {
                                                    dMonth = "0" + Model.EndDate.Month.ToString();
                                                }
                                                if (Model.EndDate.Day > 9)
                                                {
                                                    dDay = Model.EndDate.Day.ToString();
                                                }
                                                else
                                                {
                                                    dDay = "0" + Model.EndDate.Day.ToString();
                                                }
                                            }
                                            <input asp-for="EndDate" class="form-control" type="date" value="@Model.EndDate.Year-@dMonth-@dDay" />
                                            <span class="form-label">Check Out</span>
                                        </div>
                                    </div>
                                </div>
                                <input asp-for="RoomId" value="@Model.RoomId" hidden />
                                @*<input asp-for="StartDate" type="date" value="@Model.StartDate.Year-@month-@day" hidden />
                                <input asp-for="EndDate" type="date" value="@Model.EndDate.Year-@dMonth-@dDay" hidden />     
                                <input name="roomsCount" type="number" value="@ViewBag.Count" hidden />
                                <input name="guests" type="number" value="@ViewBag.Guests" hidden />*@
                                <div class="form-btn">
                                    <button class="submit-btn">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
    </script>

</body>

</html>
